.bundle
db/*.sqlite3
log/*.log
log/*/*.log
log/*/*/*.log
tmp/
.sass-cache/
public/assets/*
*.orig
coverage/
screenshots/
cucumber_junit/
analysis/
kickstarter/
rspec_results/*
.idea/*
.backups/*
*~
.DS_Store
._.DS_Store
*.swp
doc/*
dump/
.floo
.sublime-project
.gitconfig
node_modules
jam
log/*.output
log/*
._*
test/*
app/assets/javascripts/components/_compiled/.module-cache/*
*._*
*/*._*
*/*/*._*
*/*/*/*._*
*/*/*/*/*._*
*/*/*/*/*/*._*
*/*/*/*/*/*/*._*
node_modules/*
jam/*
bin/*
public/
data_sources/*
brakeman.html
app/assets/javascripts/components/_compiled/*
app/assets/javascripts/handlebar_templates/templates.js
webpack_info.json
npm-debug.log
vendor/*