<!DOCTYPE html>
<html>
<head>
  <title>Mui</title>
  <%= csrf_meta_tags %>

</head>

<script type="text/javascript" charset="utf-8" src="assets/main.js"></script>
<body>

<%= yield %>

</body>
</html>
